@font-face {
    font-family: 'Menlo';
    src: url("https://cdn.rawgit.com/hbin/top-programming-fonts/4c4dd6a4/Menlo-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: 'Panton';
    src: url(/fonts/Panton-Thin.otf) format("opentype");
    font-weight: 100;
}

@font-face {
    font-family: 'Panton';
    src: url(/fonts/Panton-ExtraLight.otf) format("opentype");
    font-weight: 200;
}

@font-face {
    font-family: 'Panton';
    src: url(/fonts/Panton-Light.otf) format("opentype");
    font-weight: 300;
}

@font-face {
    font-family: 'Panton';
    src: url(/fonts/Panton-Regular.otf) format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: 'Panton';
    src: url(/fonts/Panton-SemiBold.otf) format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: 'Panton';
    src: url(/fonts/Panton-Bold.otf) format("opentype");
    font-weight: 600;
}

@font-face {
    font-family: 'Panton';
    src: url(/fonts/Panton-ExtraBold.otf) format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: 'Panton';
    src: url(/fonts/Panton-Black.otf) format("opentype");
    font-weight: 800;
}

@font-face {
    font-family: 'Panton';
    src: url(/fonts/Panton-ExtraBlack.otf) format("opentype");
    font-weight: 900;
}

.layout.cabinet .ui.vertical.menu {
    background-color: #2A3C59;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    margin: 0;
}

.layout.cabinet .ui.vertical.menu .item {
    align-items: center;
    display: flex;
    height: 75px;
    text-transform: uppercase;
}

.layout.cabinet .ui.vertical.menu .item > * {
    display: inline-block;
}

@media (min-height: 560px) {
    .layout.cabinet .ui.vertical.menu .item > a {
        margin: 12px auto;
    }
}

.layout.cabinet .ui.vertical.menu .item > a:not(.active) {
    color: #809BC7;
}

.layout.cabinet .ui.vertical.menu .item span {
    margin-left: 12px;
}

.widget.level .person .name {
    font-size: 8px;
}

.money:before {
    content: '$'
}

.money.plus:before {
    content: '+$'
}

body {
    font-family: 'Open Sans', Ubuntu, sans-serif;
    text-align: center;
}

.webpack {
    height: 100vh;
    text-align: left;
    width: 100vw;
}

.webpack.offline {
    background-color: red;
    color: white;
}

.webpack.reloading {
    background-color: black;
    color: white;
}

.outdoor .container {
    display: flex;
    flex-direction: row;
}

@media (min-width: 980px) {
    .outdoor .container > * {
        flex: 1;
        height: 570px;
    }
}

.outdoor .error {
    color: red;
}

.outdoor h1 ~ * {
    margin-bottom: 8px;
}

.ui.message {
    width: 100%;
    margin-bottom: 6px
}

.outdoor .container .left {
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.page {
    text-align: left;
}

.page.error {
    display: inline-block;
    margin: auto;
}

form.page h1 {
    text-transform: uppercase;
}

form.page h2 {
    font-size: 12pt
}

.page.login .control a {
    margin: 0 8px;
}

.login {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.signup [type="checkbox"] {
    display: inline-block;
    width: auto;
}

#admin {
    text-align: left;
}

.layout > .container {
    display: inline-block;
    margin: auto;
    max-width: 1269px;
    min-width: 640px;
}

.layout.cabinet > .container {
    min-height: 100vh;
    text-align: left;
}

.layout > .container > * {

    min-height: calc(100vh - 40px);
}

.layout > .container > .ui.inverted.vertical.menu {
    height: 1115px;
}

.layout > .container aside {
    border-radius: 0 0 15px;
    min-height: 891px;
}

.layout > .container {
    align-items: flex-start;
    display: flex;
}

.cabinet-right {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.cabinet-right > .ui.menu {
    background-color: #F7FAFF;
    margin: 0;
}

.cabinet-right > .ui.menu {
    padding-right: 16px;
}

.cabinet-right > .ui.menu .item {
    color: #2A3C59;
    font-weight: 300;
    margin: 24px 8px;
}

.cabinet-right > .ui.menu .item.feedback.button {
    border-radius: 16px;
    padding: 8px 24px;
}

.button {
    border: 1px solid #293b5a;
    border-radius: 12px;
    color: #293b5a;
    font-weight: 900;
    margin: 12px 16px;
    padding: 2px 8px;
    text-transform: uppercase;
}

.button.inverted {
    background-color: #293b5a;
    color: white;
}

.cabinet-main {
    display: flex;
    flex: 1;
}

#main {
    flex: 1;
    background: linear-gradient(to bottom, #f7faff 0px, white 36px);
    padding-top: 65px;
    /*padding: 30px 20px;*/
}

aside {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #ecf0f8 0px, #f4f8ff 90px) repeat scroll 0 0;
    text-align: center;
    width: 217px;
}

aside .balance {
    font-size: 2em;
    font-weight: 900;
}

aside .income {
    font-weight: 100;
    margin: 4px auto;
}

@media (min-height: 800px) {
    aside .earned {
        padding-bottom: 40px;
        padding-top: 40px;
    }
}

@media (max-height: 799px) {
    aside .earned {
        padding-top: 20px;
    }
}

aside .income > .money {
    margin: 4px;
}

aside .control .button {
    display: block;
}

aside .control .button:before {
    content: '$ ';
}

aside > .ui.widget.freshman-list.feed {
    margin: 0 25px;
}

aside .freshman-list h2 {
    color: #293b5a;
    font-family: panton;
    font-size: 18px;
    font-weight: 400;
    margin-top: 4px;
    text-align: left;
    text-transform: uppercase;
}

aside .freshman-list .see-all {
    border: 0 none;
    display: inline-block;
    font-size: 13px;
    font-style: italic;
    font-weight: 300;
    margin: 0 0 20px;
    padding: 0;
    text-align: left;
    text-decoration: underline;
    text-transform: none;
    width: 100%;
}

aside .freshman-list .see-all::after {
    content: ' »»';
}

.same {
    display: flex;
}

.same > * {
    flex: 1;
}

.page.main {
    height: 100%;
}

.page.main .column {
    padding: 10px;
}

.page.main .column > *:first-child {
    height: 100%;
    width: 100%;
}

.page.main.ui.page.grid {
    margin: 0;
    padding: 0;
}

.page.main .sponsor {
    background-size: contain;
    /*opacity: 0.6;*/
}

.page.main .top {
    min-height: 25vh;
}

.page.main .bottom {
    background-color: #edf1f9;
    min-height: 366px;
    padding: 48px 0 40px;
}

.page.main .avatar.huge {
    background-size: cover;
}

.panel.referral {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.panel.referral h2 {
    color: #18424d;
    font-family: panton;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.panel.referral input {
    align-items: end;
    border: 0 none;
    color: #18424d;
    font-family: panton;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 5px;
    margin-right: 10px;
    overflow: hidden;
    width: 200px;
}

.panel.referral .icon.copy {
    cursor: pointer;
}

.panel.referral .bonus > * {
    opacity: 0.08;
}

.panel.referral .bonus {
    border-radius: 4px;
    box-sizing: border-box;
    height: 140px;
    margin-bottom: 30px;
    min-height: 100px;
    padding: 8px;
    position: relative;
    width: 240px;
}

.panel.referral .bonus .number {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.panel.referral .bonus .number .percent {
    margin-right: 16px;
}

.panel.referral .bonus .number > * {
    vertical-align: top;
}

.panel.referral .bonus .value {
    font-size: 48px;
}

.panel.referral .bonus:before {
    content: "◦";
    font-size: 24px;
    font-weight: 900;
    position: absolute;
    right: 8px;
    top: 4px;
}

.panel.referral .bonus .icon {
    position: absolute;
}

.panel.referral .bonus.next {
    background-color: #2258E4;
    color: white;
}

.panel.referral .bonus.earned {
    border: 1px solid #2A3C59;
    color: #2A3C59;
}

.page.product-list {
    position: relative;
    padding: 0 40px;
}

.page.product-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0;
}

.page.product-list li {
    list-style: outside none none;
    margin-bottom: 50px;
    width: 225px;
}

.page.product-list li h2 {
    border-bottom: 1px solid #ececec;
    font-size: 14px;
    font-weight: 400;
    margin: 6px 0 11px;
    padding: 0 15px 13px;
    color: #1c1a1d;
}

.page.product-list .basket {
    display: none;
}

.page.product-list li .image {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    height: 350px;
    margin-bottom: 10px;
}

.product .ui.buttons > * {
    color: white;
    font-weight: 200;
}

.item.product .image {
    background-position: center;
}

.item.product .view {
    background-color: #1C54E8;
}

.item.product .money {
    margin-right: 6px;
}

.product .buy {
    background-color: #293B5A;
}

.page.product {
    max-width: 100%;
}

.page.product img {
    height: auto;
    max-width: 100%;
    width: auto;
}

.page.product .column {
    display: flex;
}

.page.product .gallery {
    min-width: 180px
}

.page.product .image {
    min-height: 180px;
    background-size: contain;
}

.page.product .titled .column {
    align-items: flex-start;
    border-top: 1px solid #F4F8FF;
}

.page.product .margin {
    margin: 8px;
}

.page.product .panel.buy {
    background-color: #F4F8FF;
    padding: 16px;
}

.page.product .panel.buy strong {
    font-weight: 900;
}

.page.product .panel.buy strong ~ div {
    margin-bottom: 8px;
}

.upload-image-preview {
    display: inline-block;
}

.upload-image-preview .image {
    width: 96px;
    height: 96px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.page.ticket h2 {
    font-size: 16px;
    font-weight: 200;
}

.page.ticket h2 > * {
    font-size: 14px;
    font-weight: 100;
}

.alert-enter {
    opacity: 0.01;
}

.alert-enter.alert-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.alert-leave {
    opacity: 1;
}

.alert-leave.alert-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.short-count:after {
    content: ' символов';
}

.layout.cabinet > .container {
    min-height: 100vh;
    text-align: left;
    margin-top: 50px;
}

.layout.cabinet .ui.vertical.menu {
    background-color: #293b5a;
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-radius: 15px;
    padding-top: 0px;
    padding-bottom: 20px;
}

.ui.vertical.menu .item::before {
    position: absolute;
    content: '';
    top: 0%;
    left: 0px;
    width: 100%;
    height: auto !important;
    background: #293b5a;
    padding: 0;
}

.ui.menu .item {
    padding: 0 !important;
}

.layout.cabinet .ui.vertical.menu .item > * {
    display: inline-block;
    width: 100%;
    padding: 21px 30px;
    font-size: 15px;
    font-family: open sans semibold, sans-serif !important;
    letter-spacing: 1px;
    line-height: 1;
}

.layout.cabinet .ui.vertical.menu .item span {
    margin-left: 7px;
}

.layout.cabinet .ui.vertical.menu .item > .active,
.layout.cabinet .ui.vertical.menu .item > *:hover {
    text-shadow: 0px 0px 2px white;
    color: white !important;
    transition: all 0.5s;
}

.ui.vertical.menu {
    width: 250px;
}

.cabinet-right > .ui.menu {
    padding-right: 16px;
    padding: 12px 50px;
    border-bottom: 1px solid #e4eaf4;
    height: 110px !important;
    border-top-right-radius: 15px;
}

.cabinet-right > .ui.menu .item {
    color: #2A3C59;
    font-weight: 300;
    margin: 0 10px;
}

.button.feedback {
    width: 175px;
    padding: 0px 0 0;
    text-align: center;
    line-height: 17px !important;
    height: 43px;
    display: flex;
    justify-content: center;
    font-size: 16px !important;
    font-family: Panton;
    font-weight: 900 !important;
    justify-items: center;
    border-radius: 1100px;
}

.balance.money {
    color: #293b5a;
    font-family: panton;
    font-weight: 900;
    font-size: 70px;
    display: block;
    line-height: 1;
    margin-top: 35px;
}

aside .income > .money {
    margin: 4px;
    font-family: panton;
    font-weight: 300;
    color: #293b5a;
    font-size: 36px;
    line-height: 1.1;
}

aside .income > .money.plus {
    font-weight: 400;
    margin-left: 14px;
}

.button.pay {
    padding: 13px 0 11px;
    border-radius: 120px !important;
    font-size: 18px;
    font-family: panton;
    font-weight: 500;
    line-height: 20px;
    margin-top: 30px;
    color: #293b5a;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.button.withdraw.inverted {
    padding: 13px 0 11px;
    border-radius: 120px !important;
    font-size: 18px;
    font-family: panton;
    font-weight: 500;
    line-height: 20px;
    margin-top: 10px;
    color: white;
    margin-bottom: 60px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.row.top > .ten.wide.column.left:first-child {
    background: #293b5a none repeat scroll 0 0;
    border: 1px solid #293b5a;
    box-shadow: 0 0 19px -11px #293b5a;
    box-sizing: content-box;
    max-height: 450px;
    max-width: 450px;
    padding: 0;
}

.page.main .name, .page.main .nick {
    color: #ffffff;
    font-family: panton;
    font-size: 28px;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-align: center;
}

.page.main .avatar.huge {
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 450px;
    justify-content: space-between;
    width: 450px;
}

.levels a {
    color: #1c54e8;
    margin: 0 10px 60px 0;
}

.levels > a::after {
    color: #808080;
    content: "/";
    margin-left: 10px;
    text-decoration: none;
}

.levels > a:last-child::after {
    color: #808080;
    content: "";
    margin-left: 10px;
    text-decoration: none;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.list .person {
    align-items: start;
    background: #1c54e8 none repeat scroll 0 0;
    border: 0 solid #293b5a;
    border-radius: 10px;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    margin-bottom: 40px;
    margin-right: 0;
    min-height: 160px;
    padding: 10px;
    width: 341px;
}

.page.referrals .graph {
    color: #1c54e8;
    display: inline-block;
    font-family: panton;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
    text-decoration: underline;
    text-transform: uppercase;
}

.item.product {
    border: 0 solid #293b5a;
    display: flex;
    flex-direction: column;
    margin: 0 0 50px !important;
    padding: 0;
}

.item.product * {
    font-family: panton, sans-serif;
}

.product .money {
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
    margin: 4px 0 5px;
    padding: 0 15px;
    text-align: left;
}

#app {
    padding-bottom: 40px;
}

td.time {
    min-width: 170px;
}

td pre {
    margin: 0;
}

.monospace, pre {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 12px;
}

.page.users table .nick {
    min-width: 120px;
}

button.button.recovery.disabled {
    opacity: 0.1 !important;
}

.page > .refresh {
    position: absolute;
    top: 8px;
    right: 4px;
    cursor: pointer;
}

.avatar {
    background-position: center;
    background-size: cover;
}

.avatar [type="file"] {
    display: none;
}

.avatar .icon {
    margin: 4px;
    cursor: pointer;
}

.list .person .time {
    font-size: 11px;
    font-weight: 300;
}

.list .person .icon.lab {
    cursor: pointer;
}

.null:after {
    color: lightgrey;
    content: '<NULL>';
}

.page.request-list .method.post {
    font-weight: 700;
}

.page.request-list .data textarea {
    min-width: 600px;
}

.page.main .row.top {
    padding: 0 40px 65px;
}

.cabinet-main .column.right {
    padding: 0 0 0 35px !important;
}

.user-children .tree-node {
    margin-left: 20px;
}

.user-children .tree-node.childless > .info {
    margin-left: 20px;
}

.user-children .tree-node > .info > .name {
    margin-right: 4px;
    border-left: 1px solid darkgray;
    padding-left: 4px;
}

.user-children .tree-node > .info > * {
    display: inline-block;
}

.user-children .tree-node > .info > .open-icon {
    cursor: pointer;
}

.user-children .tree-node > .info > .open-icon:hover > .icon {
    transition: 0.4s transform;
    transform: translateX(-4px);
}

.user-children .tree-node > .info > .created {
    opacity: 0.2;
}

.user-children .tree-node > .info > .count {
    margin-left: 4px;
}

.link.referral > h2 {
    margin: 11px 0 2px;
}

.visit {
    color: #808080;
    font-family: panton;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 3px;
    line-height: 1;
    margin-bottom: 30px;
    margin-top: 0;
    text-align: left;
}

.arrow.right.icon {
    display: none;
}

.ui.feed > .event > .content .user {
    color: #293b5a;
    display: flex;
    flex-wrap: nowrap;
    font-family: panton;
    font-size: 15px;
    font-weight: 400;
    height: 20px;
    margin-right: 0;
    overflow: hidden;
    text-transform: capitalize;
    vertical-align: baseline;
}

.ui.feed > .event {
    -moz-box-direction: normal;
    -moz-box-orient: horizontal;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-top: medium none;
    display: flex;
    flex-direction: row;
    margin: 0 0 35px;
    padding: 0.214286rem 0;
    width: 100%;
}

.skype.icon {
    color: #6495ed;
    font-size: 18px;
}

.extra a span {
    color: #293b5a;
    font-family: panton;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    text-decoration: underline;
}

.levels {
    display: flex;
    justify-content: space-between;
}

.ui.vertical.menu .item > img:only-child:not(.ui) {
    box-sizing: unset;
    display: block;
    height: auto;
    max-width: 100%;
    width: 170px;
}

.logo {
    align-items: center;
    background: #21324f none repeat scroll 0 0;
    border-bottom: 1px solid #21324f;
    border-radius: 15px 0 0;
    box-shadow: 0 -1px 0 #7a879d inset;
    display: flex;
    height: 111px;
    justify-content: start;
    padding: 26px 26px 20px;
}

.logo img {
    height: 50px;
}

.label > .avatar {
    background-image: url("/images/user-photo.png");
    border-radius: 50%;
    height: 40px;
    margin-right: 25px;
    position: relative;
    top: 8px;
    background-repeat: no-repeat;
    width: 40px;
}

.extra > a {
    display: flex;
}

.person.card .avatar {
    background-image: url("/images/user-photo.png");
    background-size: cover;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    box-shadow: 0 -2px 4px rgba(255, 255, 255, 0.3) inset, 10px 10px 21px rgba(0, 0, 0, 0.27);
    height: 80px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 10px;
    width: 80px;
}

.avatar .team {
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    margin: 12px auto 17px;
    text-align: center;
    width: 85%;
}

.avatar .label {
    font-family: panton;
    font-size: 18px;
}

.avatar .value {
    font-size: 22px;
    font-weight: 700;
    line-height: 1.4;
}

.partners, .sales, .turnover {
    width: 33.33%;
}

.partners, .sales {
    border-right: 1px solid white;
    box-sizing: border-box;
}

.avatar .earned > span, .avatar .earned {
    color: #ffffff;
    font-family: panton;
    font-size: 22px;
    font-weight: 200;
    text-align: center;
}

.avatar .earned {
    margin: 7px;
}

.copied::before {
    color: #008000;
    content: "+";
}

.link.referral > div:nth-child(2) {
    display: flex;
}

.ten.wide.column.left {
    padding: 0 0 0 40px;
}

.card.sponsor.somebody {
    background: rgba(0, 0, 0, 0) url("/images/sponsor-back.png") repeat scroll 0 0 / cover;
    border-radius: 5px;
    box-shadow: 0 0 2px #ffffff;
    min-height: 270px;
    padding: 16px;
    width: 450px;
}

.sponsor > h2.title {
    color: #1c1a1d;
    font-family: panton, serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.sponsor .info {
    align-items: center;
    display: flex;
}

.sponsor .info .contacts {
    height: 70px;
}

.sponsor .info .me {
    background: #1c53e8 none repeat scroll 0 0;
    border-radius: 5px;
    margin-right: 20px;
    padding: 16px;
    width: 242px;
}

.contacts > h3 {
    color: #293b5a;
    font-family: panton, serif;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

.name .nothing {
    font-family: panton, serif;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1.5px;
    margin: 0;
    text-transform: uppercase;
}

.contacts .list {
    margin: 0;
}

.contacts .list > .skype {
    display: flex;
    width: 100%;
}

.sponsor .avatar {
    background-size: 120% auto;
    border-radius: 50%;
    height: 30px;
    margin-right: 11px;
    width: 30px;
}

.sponsor .short {
    display: flex;
}

.name .something {
    font-family: panton;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1.5px;
    line-height: 1;
    margin: 0;
    text-align: left;
    text-transform: uppercase;
}

.sponsor .name .nick {
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 1px;
    text-align: left;
}

.ui.segment.last-transfers {
    background: #f1f5fe none repeat scroll 0 0;
    border: 1px solid #dfe5f1;
    box-shadow: 0 0 0;
    height: 270px;
    max-height: 270px;
    max-width: 238px;
    padding: 15px 10px;
    width: 238px;
}

.ui.segment.last-transfers > h2 {
    font-family: panton;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1.5px;
    margin: 0 0 10px;
    text-transform: uppercase;
    color: #1c1a1d;
}

.inner-avatar {
    background: rgba(41, 59, 90, 0.6) none repeat scroll 0 0;
    box-shadow: 0 0 1px rgb(255, 255, 255) inset;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    width: 100%;
}

.cabinet h1 {
    font-family: panton;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0 0 20px;
    text-transform: uppercase;
}

.last-transfers table {
    color: #293b5a;
    font-family: panton;
    font-weight: 300;
    line-height: 2;
    width: 100%;
}

.ui.form .avatar.edit {
    display: none;
}

.link.referral button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    color: #ff0000;
    font-family: panton;
    font-size: 18px;
    font-weight: 200;
    line-height: 1;
    padding: 0;
    text-decoration: underline;
}

.link.referral button:hover {
    color: #0000ff;
    font-family: panton;
    font-size: 18px;
    font-weight: 200;
    line-height: 1;
    padding: 0;
    text-decoration: none;
}

.sponsor .about.something {
    color: #ffffff;
    font-family: panton;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 5px;
}

.sponsor .skype.icon {
    color: #6495ed;
    font-size: 18px;
    left: -2px;
    position: relative;
}

.social > a {
    background: rgba(0, 0, 0, 0) url("/images/soc-all.png") repeat scroll 0 0;
    border-radius: 100%;
    display: block;
    height: 45px;
    margin-right: 10px;
    width: 45px;
}

.sponsor .social {
    align-items: flex-end;
    display: flex;
    height: 100%;
    margin-top: 20px;
}

.social > a.facebook {
    background-position: 45px center;
}

.social > a.vkontakte {
    background-position: 0px center;
}

.social > a.twitter {
    background-position: 90px center;
}

.social > a.google {
    background-position: -90px center;
}

.social > a.odnoklassniki {
    background-position: -45px center;
}

.avatar {
    background-size: cover;
}

.advertise {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.advertise > .banner > img {
    max-height: 80px;
    margin: 0 30px;
}

.person.card.mlbot {
    background: #0c449f none repeat scroll 0 0;
    border: 1px solid #ffffff;
    box-shadow: 10px 20px 10px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}

.page-statistics dt {
    font-size: 20px;
    margin-top: 8px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #c1c1c1;
}

.page-statistics .block-time .utc input {
    font-family: monospace;
    border: none;
    width: 240px;
}

.page-statistics .local-clocks {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.page-statistics .local-clock {
    margin-right: 16px;
}

.page-statistics .local-clock h3 {
    margin-top: 12px;
}

.page-statistics .local-clock .digital {
    margin-top: 8px;
    font-size: 24px;
}

.layout.outdoor .card.sponsor.empty {
    background: rgba(0, 0, 0, 0) url("/images/vhod-back.png") repeat scroll 0 0;
    height: 570px;
    width: 700px;
}

.layout.outdoor {
    max-width: 1200px;
    margin: 50px auto;
}

.layout.outdoor .left {
    width: 700px;
}

.layout.outdoor .left * {
    color: white;
}

.layout.outdoor .left .short *,
.layout.outdoor .left span {
    font-family: panton;
}

.layout.outdoor .left .card.sponsor.somebody .about.nothing {
    display: none;
}

.layout.outdoor .left .card.sponsor.somebody .about.something {
    font-family: panton;
    font-size: 17px;
    line-height: 1;
    margin-bottom: 30px;
}

.layout.outdoor .left .card.sponsor.somebody .contacts {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}

.layout.outdoor .left .card.sponsor.somebody i {
    font-size: 20px;
    font-weight: 400;
    line-height: 18px;
    margin-right: 5px;
}

.layout.outdoor .left .card.sponsor.somebody .social {
    display: none;
}

.layout.outdoor .left .card.sponsor.somebody .footer {
    align-items: right;
    display: flex;
    flex-direction: column;
    font-size: 32px;
    font-weight: 600;
    justify-content: end;
    margin-top: 25px;
}

.layout.outdoor .left .card.sponsor.somebody h2 {
    font-size: 38px;
    line-height: 30px;
    margin: 0 0 15px;
    text-transform: uppercase;
}

.layout.outdoor .left .card.sponsor.somebody .your-sponsor {
    font-family: panton;
    font-size: 17px;
    font-weight: 100;
    line-height: 1;
    margin: 0 0 7px;
}

.layout.outdoor .left .card.sponsor.somebody {
    background: rgba(0, 0, 0, 0) url("/images/reg-back.png") repeat scroll 0 0 / cover;
    border-radius: 20px 0 0 20px;
    min-height: 570px;
    padding: 75px 50px 0;
    width: 700px;
}

.layout.outdoor .left .card.sponsor.somebody .avatar {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    height: 150px;
    margin-bottom: 30px;
    width: 150px;
}

.layout.outdoor .left .card.sponsor.somebody .short {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.layout.outdoor .right {
    height: 570px;
    margin-bottom: 50px;
    max-height: 570px;
    min-height: 500px;
    width: 500px;
}

.layout.outdoor .ui.segment {
    background: none;
    border: 0px solid rgba(34, 36, 38, 0.15);
    border-radius: 0;
    box-shadow: 0 0px 0px 0 rgba(34, 36, 38, 0.15);
}

.layout.outdoor .ui.piled.segments::after, .layout.outdoor .ui.piled.segments::before, .layout.outdoor .ui.piled.segment::after, .layout.outdoor .ui.piled.segment::before {
    border: 0px solid;
}

.outdoor .container > .right {
    background: #f6f8fc none repeat scroll 0 0;
    border-radius: 0 10px 10px 0;
    display: flex;
    flex-direction: column;
    padding: 75px 50px;
}

.outdoor .container > .right h1 {
    color: #293b5a;
    font-family: panton;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 2px;
    text-transform: uppercase;
}

.outdoor .container > .right .ui.padded.segment {
    padding: 0;
}

.outdoor .container > .right input {
    background: #f4f7fb;
    border-radius: 0;
    color: #293b5a;
}

.outdoor .container > .right * {
    font-family: panton;
    color: #293b5a;
}

.outdoor .container > .right .sponsor {
    font-size: 16px;
}

.outdoor .container > .right * i {
    font-family: "Icons";
    color: #293b5a;
}

.outdoor .container > .right button.ui.secondary.button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #293b5a;
    border-radius: 50px;
    display: block;
    font-family: panton;
    font-size: 17px;
    font-weight: 800;
    height: 44px;
    padding: 3px 0 0;
    text-transform: uppercase;
    width: 170px;
}

.outdoor .container > .right .control {
    align-items: center;
    display: flex;
}

.outdoor .container .ui.disabled.secondary.button.recovery {
    display: none;
}

.outdoor .container > .right button.ui.secondary.button:hover {
    color: black;
}

.outdoor .container .arrow.right.icon {
    display: inline;
    font-size: 17px;
    font-weight: 100;
    margin-left: 10px;
}

h2.name.nothing {
    display: none;
}

.item.product p {
    font-size: 15px;
    font-weight: 200;
    line-height: 17px;
    margin-bottom: 5px;
    min-height: 55px;
    overflow-wrap: break-word;
    padding: 0 15px;
}

.item.product > strong + div {
    color: #293b5a;
    display: flex;
    font-size: 13px;
    font-weight: 600;
    justify-content: space-between;
    letter-spacing: 1px;
    margin-bottom: 10px;
    padding: 0 15px;
}

li.item.product div .ui.button {
    padding: 11px 0;
    width: 50%;
}

li.item.product div .ui.button.buy:hover {
    background: #293b5a;
}

li.item.product div .ui.button {
    opacity: 0.9;
    font-weight: 400;
}

li.item.product div .ui.button:hover {
    opacity: 1;
}

.product-list ul::after {
    content: "";
    flex: 0 0 225px;
    height: 1px;
}

.ui.segment.page.referrals {
    border: 0 none;
    border-radius: 0;
    box-shadow: 0 0 0;
    padding: 0 40px;
}

.referrals .person.card .info {
    border-left: 2px dashed #4c84ff;
    height: 120px;
    margin: 10px 0 10px 10px;
    padding-left: 10px;
    width: 221px;
}

.referrals .person.card .avatar:hover {
    cursor: cell;
    transition: all 0.4s ease 0s;
}

.referrals .person.card .info b {
    font-family: panton;
    font-size: 12px;
    font-weight: 400;
}

.referrals .person.card .info .name {
    color: #ffffff;
    font-family: panton;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 22px;
    margin-bottom: 15px;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.9);
    text-transform: uppercase;
}

.referrals .person.card .info > i {
    font-family: panton;
    text-decoration: underline;
}

.referrals .person.card .info i i {
    text-decoration: none;
    color: #ffffff;
}

.referrals .person.card .info .skype.icon {
    color: #ffffff;
    font-size: 18px;
}

.referrals .person.card .info i {
    color: #ffffff;
    font-style: normal;
    font-size: 12px;
    text-decoration: underline;
}

.referrals .person.card .info > div .email {
    color: #ffffff;
    font-family: panton;
    font-size: 12px;
    font-weight: 200;
    text-decoration: underline;
}

.person.card.mlbot > .avatar::after {
    background: rgba(0, 0, 0, 0) url("/images/mlbot-ico.jpg") repeat scroll 0 0;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    content: "";
    display: block;
    height: 26px;
    margin-top: 95px;
    width: 26px;
    z-index: 35;
}

.referrals .refresh.big.icon {
    display: none;
}

li.item.product:nth-child(2) {
    display: none;
}

.ui.segments {
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    border: 0 solid rgba(34, 36, 38, 0.15) !important;
    border-radius: 0 !important;
    box-shadow: 0 0 0 0 rgba(34, 36, 38, 0) !important;
    flex-direction: column;
    margin: 1rem 0;
    position: relative;
}

.ui.segment.page.referral-list * {
    font-family: panton;
}

.referral-list {
    padding: 0 40px;
}

.page.referral-list p {
    border-left: 1px solid #293b5a;
    color: #293b5a;
    font-size: 11px;
    letter-spacing: 0.5px;
    line-height: 1.1;
    padding-left: 20px;
    text-align: justify;
}

.referral-list > div {
    margin: 0 0 50px;
}

.referral-list h2 {
    color: #293b5a;
    font-family: panton;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 20px 0;
    text-transform: uppercase;
}

.referral-list h3 {
    color: #293b5a;
    font-family: panton;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0;
}

.referral-list input {
    border: 0 none;
    color: #1c54e8;
    display: inline-block;
    font-family: panton;
    font-size: 14px;
    margin-bottom: 20px;
    min-width: 230px;
    padding: 0;
    text-decoration: underline;
    width: auto;
}

.info-links input {
    min-width: 300px;
}

.referral-list button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    color: #ff0000;
    padding: 0;
}

.referral-list > div > p {
    margin-bottom: 20px;
}

.referral-list .copied {
    display: inline-block;
    margin-left: 10px;
}

.widget.export button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    color: #1c54e8;
    font-family: panton;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
    padding: 0;
    text-decoration: underline;
    text-transform: uppercase;
}

.widget.export {
    float: left;
    margin-right: 30px;
    width: auto;
}

.outdoor .container > .right button.ui.secondary.button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #293b5a;
    border-radius: 50px;
    display: block;
    font-family: panton;
    font-size: 17px;
    font-weight: 800;
    height: 44px;
    padding: 3px 0 0;
    text-transform: uppercase;
    width: 170px;
}

.card.sponsor.empty {
    color: rgba(0, 0, 0, 0);
}

div.control > .ui.secondary.button.recovery {
    border: 0 solid #ffffff !important;
    box-shadow: 0 0 0 white !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 1 !important;
    margin: 0 !important;
    padding: 0 !important;
    text-transform: none !important;
    width: auto !important;
}

.ui.segment.page.settings > a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-radius: 20px 20px 0 0;
    border-top: 1px solid #1c54e8;
    color: #1c54e8;
    display: inline-block;
    font-family: panton;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
    margin-right: 2px;
    padding: 10px 10px 2px;
    text-decoration: underline;
    text-transform: uppercase;
}

.ui.segment.page.settings {
    border: 0 solid;
    box-shadow: 0 0 0;
    padding: 0 40px;
}

.ui.segments.page.transfer-list {
    padding: 0 40px;
}