doctype
html
    html
        meta(name=author content='Taras Labiak <kissarat@gmail.com>')
    body
        h1 #{subject}
        span Перейдите по ссылке&nbsp;
        a(href=`${origin}/serve/~${token}/user/verify`) Подтвердить регистрацию
