/**
 * Last modified: 18.07.13 19:37:27
 * Hash: 356d2f23c0cceef5fb47c81de1027792a6b39344
 */

.money:after {
    opacity: 0.4;
}

.money > .minor:before {
    content: '.';
}

.money > .minor {
    opacity: 0.3;
}

.percent::after {
    content: '%';
}

.usd::before {
    content: '$';
    color: green;
}

.eur::after {
    content: ' €';
    color: blue;
}

.btc::after {
    content: '฿';
    color: blue;
}

.eth::after {
    content: 'Ξ';
    /*color: red;*/
}

.ltc::after {
    content: 'Ł';
    /*color: red;*/
}

.doge::after {
    content: 'Ð';
    /*color: red;*/
}

.etc::after {
    content: ' ETC';
    /*color: red;*/
}

.xrp::after {
    content: ' XRP';
    /*color: red;*/
}

.restrict > .ui.table {
    width: auto;
}

.restrict .icon {
    cursor: pointer;
}

.page > .refresh {
    position: absolute;
    top: 8px;
    right: 4px;
    cursor: pointer;
}

.transfer-list [data-name="wallet"],
.transfer-list [data-name="txid"] {
    font-size: 10px;
}

[data-name="wallet"],
[data-name="txid"],
[data-name="ip"] {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.ui.horizontal.segments.page-statistics .segment.referrals {
    min-width: 300px;
}

.ui .statistic:first-child {
    margin-left: 1.5em;
}

.ui .statistic {
    margin-top: 20px !important;
    min-width: 280px;
    text-align: center;
}

.ui .statistic.zero {
    opacity: 0.2;
}

.page.transfer-list .actions {
    min-width: 60px;
}

@media (max-width: 1280px) {
    [data-name="text"] {
        font-size: 12px;
    }

    .time {
        font-size: 12px;
    }
}

.page-statistics dt {
    font-size: 20px;
    margin-top: 8px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #c1c1c1;
}

.page-statistics .block-time .utc input {
    font-family: monospace;
    border: none;
    width: 240px;
}

.page-statistics .local-clocks {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.page-statistics .local-clock {
    margin-right: 16px;
}

.page-statistics .local-clock h3 {
    margin-top: 12px;
}

.page-statistics .local-clock .digital {
    margin-top: 8px;
    font-size: 24px;
}

.widget.paginator {
    position: fixed;
    top: 80px;
    right: 20px;
    z-index: 1;
}

.limit-edit {
    background-color: rgba(0, 0, 0, 0);
}

.limit-edit > * {
    display: inline-block;
}

.limit-edit:hover {
    background-color: rgba(0, 0, 0, 0.05);
    transition: background-color 300ms;
}

.limit-edit > .control {
    opacity: 0.5;
}

.limit-edit:hover > .control {
    opacity: 1;
    transition: opacity 300ms;
}

.limit-edit tr td input {
    border-color: transparent;
}

.limit-edit tr:hover td input {
    border-color: rgba(0, 0, 0, 0.6);
}

.limit-edit .date > input {
    width: 80px;
}

.busy {
    position: relative;
}

.busy > * {
    animation: busy 1s infinite;
}

.busy:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 6px;
    text-align: center;
    animation: busy-text 3s infinite;
    content: 'Loading';
}

.eth-address {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

@keyframes busy {
    from {
        opacity: 0.1;
    }

    50% {
        opacity: 0.4;
    }

    to {
        opacity: 0.1;
    }
}

@keyframes busy-text {
    from {
        content: 'Loading';
    }

    20% {
        content: 'Loading.';
    }

    40% {
        content: 'Loading..';
    }

    60% {
        content: 'Loading...';
    }
}

[data-name="type"][data-type="payment"] {
    color: green;
}

.page.ethereum form {
    visibility: hidden;
}

.page.ethereum form.active {
    visibility: visible;
}

.page.ethereum .receiver-wallet {
    font-family: Monaco, Courier New, monospace;
}

.page.node-index tr.reserved {
    background-color: #a9ffae;
}

.page.node-index tr.closed {
    background-color: #ffc27d;
}

.page.future .count {
    display: inline-block;
    width: 25px;
    border-right: 1px solid black;
    margin-right: 6px;
}

#json {
    width: 100%;
    height: 300px;
}

.transfer-list tr:hover td {
    background-color: rgba(128, 128, 128, 0.2);
    cursor: pointer;
}

.page.program-list .choose > div {
    display: inline-block;
    margin-right: 4px;
    padding-left: 4px;
    padding-right: 4px;
    cursor: pointer;
}

.page.program-list .choose > div.active {
    background-color: #a9ffae;
}

.page.login .recovery {
    display: none;
}

.page.settings .list {
    display: table;
}

.page.settings .field {
    display: table-row;
    padding-bottom: 4px;
}

.page.settings .field > * {
    display: table-cell;
    vertical-align: middle;
    line-height: 28px;
}

.page.settings .field span {
    width: 120px;
}

.user-settings .about {
    margin-bottom: 8px;
}

.user-settings .field > * {
    margin-right: 4px;
    margin-bottom: 4px;
}

.user-settings .field label {
    display: inline-block;
    width: 180px;
}

.user-settings .field input {
    width: 300px;
    font-family: Monaco, Courier New, monospace;
}

.user-settings .ban {
    float: right;
}

.matrix.view {
    text-align: center;
}

.matrix.view iframe {
    border: none;
    width: 1200px;
    min-height: 800px;
}

.page.lottery .prizes > .prize {
    display: inline-block;
    margin-right: 2px;
    width: 22px;
    height: 22px;
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 50%;
}

.page.lottery .prizes > .prize:hover {
    color: white;
    background-color: black;
    transition: all 200ms ease-in;
}

.page.lottery .filter input {
    width: 80px;
}

.page.lottery .filter > * {
    margin-right: 8px;
}

.page.lottery .actions {
    margin-left: 12px;
}

.page.lottery .icon {
    opacity: 0.5;
    cursor: pointer;
}

.page.lottery .icon:hover {
    opacity: 1;
    transition: opacity 200ms ease-in;
}

.layout.admin-panel > .ui.bottom.attached.segment {
    overflow-x: scroll;
}

.matrix.index tr.closed {
    background-color: rgba(255, 0, 0, 0.5);
}

.matrix.index .max-members-number {
    opacity: 0.2;
}

.matrix.index .filters > * {
    display: inline-block;
    margin-right: 12px;
}

.withdraw-fee {
    opacity: 0.7
}

.withdraw-fee::before {
    content: ' ('
}

.withdraw-fee::after {
    content: ')'
}

.page.users table td.nodes {
    max-width: 480px;
}

.page.users table td.nodes a {
    display: inline-block;
    margin: 2px 4px;
    padding: 2px 4px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.page.users table td.nodes a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.page.users table td.swap.no > .used {
    opacity: 0.2;
}

.page.users table td.swap.exhausted {
    color: red;
}

.page.users table td.swap.used {
    color: #ddb825;
}
