.layout.cabinet {
    display: flex;
    justify-content: center;
}

.layout.cabinet > .menu {
    margin: 0;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    list-style: none;
    padding: 8px;
    min-width: 100px;
}

.layout.cabinet > .main {
    min-width: 600px;
    border: 1px solid black;
}

.user-children {
    position: relative;
}

.user-children .tree-node {
    margin-left: 20px;
}

.user-children .tree-node.childless > .info {
    margin-left: 20px;
}

.user-children .tree-node > .info > .name {
    margin-right: 4px;
    border-left: 1px solid darkgray;
    padding-left: 4px;
}

.user-children .tree-node > .info > * {
    display: inline-block;
}

.user-children .tree-node > .info > .open-icon {
    cursor: pointer;
}

.user-children .tree-node > .info > .open-icon:hover > .icon {
    transition: 0.4s transform;
    transform: translateX(-4px);
}

.user-children .tree-node > .info > .created {
    opacity: 0.2;
}

.user-children .tree-node > .info > .count {
    margin-left: 4px;
}

.page.settings .field.phone,
.page.settings .field.facebook,
.page.settings .field.vkontakte,
.page.settings .field.twitter,
.page.settings .field.google,
.page.settings .field.odnoklassniki,
.page.settings .field.about {
    display: none;
}
