<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sentence</title>
    <script src="https://unpkg.com/vue"></script>
    <style>
        #editor > .construct > div {
            display: inline-block;
        }

        ol {
            padding-left: 20px;
        }

        ol.current {
            border: 1px solid black;
        }

        li {
            cursor: pointer;
        }

        li:hover {
            background-color: #dadada;
        }

        li.selected {
            background-color: #999;
        }

        .string {
            margin-left: 4px;
            text-decoration: underline;
        }

        textarea {
            min-width: 600px;
            min-height: 100px;
        }

        img {
            max-width: 600px;
        }
    </style>
</head>
<body>
<div id="editor">
    <div class="construct">
        <div v-for="(word, i) in sequence">
            <ol v-if="word instanceof Array" v-bind:class="{current: i === current}">
                <li
                        v-for="(alt, j) in word"
                        v-on:click="select(i, j)"
                        v-bind:class="{selected: alt === sentence[i].value}"
                >
                    {{alt}}
                </li>
            </ol>
            <div v-else class="string">{{word}}</div>
        </div>
    </div>
    <textarea v-model="result" class="result"></textarea>
</div>
<img src="http://i.imgur.com/Xstwhyh.jpg"/>

<script>
  const sequence = [
    ['Правостороння', 'Лівостороння'],
    ['медіальна', 'медіально-парамедіальна', 'парамедіальна', 'парамедіально-форамінальна', 'форамінальна', 'екстрафорамінальна'],
    ['секвестрована'],
    ['грижа', 'протрузія'],
    'розміром',
    ['до'],
//      x => x,
    'см, деформує',
    ['передній', 'лівий', 'правий'],
    '(латеральний карман)',
    ['в обидва міжхребцеві отвори', 'правий міжхребцевий отвір', 'лівий міжхребцевий отвір'],
    ['симетрично', 'асиметрично'],
    'звужуючи',
    ['їх', 'його']
  ]

  const sentence = sequence.map(w => ({value: 'string' === typeof w ? w : false}))

  const data = {
    current: 0,
    sequence,
    sentence
  }

  const edi = new Vue({
    el: '#editor',
    data,
    computed: {
      result() {
        return sentence.filter(a => a.value).map(a => a.value).join(' ')
      }
    },
    methods: {
      select(i, j) {
        let a = sequence[i]
        if (a instanceof Array) {
          let v = sentence[i].value
          v = v && a[j] === v ? false : a[j]
          sentence[i].value = v
        }
        this.current = i === this.current ? this.current + 1 : i
      }
    }
  })

  addEventListener('keyup', function (e) {
    if ('ArrowLeft' === e.key) {
      data.current--
    }
    else if ('ArrowEight' === e.key) {
      data.current++
    }
    else {
      edi.select(data.current, e.key - 1)
    }
  })
</script>
</body>
</html>
