<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Swine</title>
    <script src="https://unpkg.com/vue"></script>
    <style>
        #editor {
            display: flex;
        }

        .vertical {
            display: flex;
        }

        [data-number] {
            cursor: pointer;
        }

        .vertical [data-number] {
            min-width: 50px;
            text-align: center;
        }

        .circle {
            position: relative;
            width: 90px;
            height: 90px;
        }

        .circle > [data-number] {
            position: absolute;
            border: 1px solid black;
            border-radius: 50%;
            background-color: white;
        }

        .circle > [data-number]:hover {
            border-style: dotted;
            background-color: yellow;
        }

        .circle [data-number="1"] {
            width: 90px;
            height: 90px;
        }

        .circle [data-number="2"] {
            left: 15px;
            top: 15px;
            width: 60px;
            height: 60px;
        }

        .circle [data-number="3"] {
            left: 30px;
            top: 30px;
            width: 30px;
            height: 30px;
        }

        .active {
            background-color: green !important;
        }
    </style>
</head>
<body>
<div id="editor">
    <div v-for="side in ['left', 'right']">
        <button v-on:click="selectCircle(side, 0)">X</button>
        <div class="circle">
            <div v-for="i in [1, 2, 3]" v-bind:data-number="i"
                 v-bind:class="{active: i <= circle[side]}" v-on:click="selectCircle(side, i)"></div>
        </div>
        <div class="vertical">
            <div v-for="column in [1, 2, 3]" v-bind:data-column="column">
                <div v-for="row in [0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6]" v-bind:class="{active: row <= vertical[side][column] && row > 0}">
                    <div v-bind:data-number="row" v-on:click="selectVertical(side, column, row)">{{ row }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const data = {
      circle: {left: 0, right: 0},
      vertical: {
        left: {1: 0, 2: 0, 3: 0},
        right: {1: 0, 2: 0, 3: 0}
      }
    }

  const edi = new Vue({
    el: '#editor',
    data,

    methods: {
      selectCircle(side, i) {
        this.circle[side] = i
      },

      selectVertical(side, column, row) {
        this.vertical[side][column] = row
      }
    }
  })
</script>
</body>
</html>
